@import "index";
@import "admin";
$enable-gradients: true;

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Georgia, Times, serif, Verdana, Geneva, Tahoma,
    sans-serif;
}

main {
  margin: 0;
  padding: 0;
  display: grid;
}

header {
  font-size: 1.1rem;
  font-weight: bold;
}
